/* estilos de inicio*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

header {
  display: block;
  background-color: #ca3a71;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
  height: 70px;
  transition: 0.5s; }

.logo {
  margin-right: 20px;
  height: 110%; }

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }

.menu-item {
  margin: 0 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  color: #e7adc5; }

.menu-item a {
  text-decoration: none;
  color: #e7adc5; }

.boton {
  padding: 10px 24px;
  border-radius: 30px;
  background-color: var(--main-color);
  color: #5f2452;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s; }

.main-menu a {
  text-decoration: none; }

.menu-item:hover {
  color: var(--main-color); }

.input {
  font-family: monospace;
  max-width: 190px;
  outline: none;
  border: 1px solid #dadada;
  padding: 5px;
  border-radius: 5px;
  background-color: #f3f7fe;
  transition: .3s;
  color: #941b4d; }

.input::placeholder {
  color: #f63b92; }

.input:focus {
  border: 1px solid #ff499e;
  box-shadow: 0 0 0 5px #b90d4f5f; }

.titulo {
  display: flex;
  flex-direction: column;
  text-align: center; }

/*Cards*/
.contenido,
.contenido2,
.contenido3 {
  font-weight: 600;
  padding: 40px; }

.card {
  width: 190px;
  height: 254px;
  background: #ececec;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-bottom: 10px; }

.card strike {
  color: red; }

.card p {
  font-family: 'Anton', sans-serif;
  line-height: 2.9px; }

/*carousel*/
.carousel {
  margin-left: 100px;
  margin-right: 100px; }

/*info de pagina*/
.info {
  width: 100%;
  margin-top: 90px;
  background-color: palevioletred;
  height: 250px; }

.info h1 {
  font-family: 'Anton', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  color: #3a1f47; }

.info h2 {
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 10px;
  color: #fff; }

.info div {
  display: flex;
  justify-content: center;
  align-items: center; }

.info img {
  margin-top: 120px;
  margin-bottom: 50px;
  height: 200px; }

.info2 {
  text-align: center; }

/*:::::Pie de Pagina*/
.pie-pagina {
  margin-top: 500px;
  width: 100%;
  background-color: #ca3a71;
  position: absolute;
  margin-top: 3200px; }

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.pie-pagina .grupo-1 .box figure img {
  width: 250px; }

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px; }

.pie-pagina .grupo-1 .box p {
  color: #fff;
  margin-bottom: 10px; }

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #9b2c48;
  text-align: center;
  transition: all 300ms ease; }

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua; }

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff; }

.pie-pagina .grupo-2 small {
  font-size: 15px; }

/*boton compra*/
button {
  --color: #2f7c1f;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  margin-left: 200px; }

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%; }

button:hover {
  color: #fff; }

button:before {
  top: 100%;
  left: 100%;
  transition: all .7s; }

button:hover:before {
  top: -30px;
  left: -30px; }

button:active:before {
  background: #3a0ca3;
  transition: background 0s; }

.contenido4 {
  display: flex;
  gap: 30px; }

.card2 {
  margin-top: 100px;
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #fff;
  justify-content: space-around; }

.card2 img {
  width: 100%; }

.card2 strike {
  color: red; }

.paginas {
  margin-top: 60px; }
  .paginas .page-link {
    color: #fae9ee;
    background-color: #941b4d;
    list-style: none; }

@media screen and (max-width: 480px) {
  /*Cabecera*/
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 200px; }
  .logo {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px; }
  .main-menu {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 38px; }
  .menu-item {
    display: block;
    width: 40%;
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: #e7adc5;
    font-size: 11px; }
  .boton {
    width: 90%;
    padding: 5px 14px;
    border-radius: 30px;
    background-color: var(--main-color);
    color: #5f2452;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    font-size: 12px; }
  .input {
    max-width: 190px;
    padding: 0.2px;
    border-radius: 5px; }
  /*Cards*/
  .contenido,
  .contenido2,
  .contenido3 {
    display: flex;
    font-weight: 600;
    padding: 6px;
    font-size: 14px;
    gap: 60px; }
  .card {
    display: flex;
    width: 143px;
    height: 193px;
    background: #ececec;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-bottom: 10px; }
  /*carousel*/
  .carousel {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px; }
  /*info de pagina*/
  .info {
    justify-content: center;
    width: 100%;
    margin-top: 90px;
    height: 230px; }
  .info h1 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-top: 30px;
    color: #110f1a; }
  .info h2 {
    max-width: 80%;
    display: flex;
    justify-content: right;
    margin-top: 10px;
    color: #351f1f;
    font-size: 14px; }
  .info img {
    width: 100%;
    height: 180px; }
  .info2 {
    width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin-top: 40px;
    font-size: 12px; }
  /*pie de pag*/
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

.envios {
  display: flex;
  justify-content: center;
  align-items: center; }

.main3 div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.main3 img {
  width: 40%;
  display: flex;
  height: 400px; }

.main3 h1 {
  font-family: 'Russo One', sans-serif;
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
  background-color: #cf6677;
  color: #fff; }

.main3 h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  font-size: 30px; }

.contenedor {
  display: flex;
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 300; }

.cuadro {
  flex-direction: column;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px; }

.cuadro2 {
  flex-direction: column;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px; }

.cuadro3 {
  flex-direction: column;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px; }

.cuadro4 {
  flex-direction: column;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px; }

.contenedor2 {
  display: block;
  justify-content: space-around;
  margin-top: 40px;
  gap: 10px; }

.card3 {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 164px;
  border-radius: 50px;
  background: #d85883;
  box-shadow: 20px 20px 60px #ac5076;
  line-height: 19px;
  font-size: 18px; }

.p {
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  color: #fff; }

.p2 {
  margin-left: 10px;
  color: #fff; }

.contenedor3 {
  display: block;
  justify-content: space-around;
  margin-top: 40px;
  gap: 10px; }

/*pie de pag*/
.pie-pagina .grupo-1 {
  width: 90%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  padding: 35px 0px; }

@media screen and (max-width: 480px) {
  body {
    max-width: 100%; }
  /*Cabecera*/
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 90px; }
  .logo {
    display: flex;
    height: 50px; }
  .main-menu {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 38px; }
  .menu-item {
    display: block;
    width: 40%;
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: #e7adc5;
    font-size: 11px; }
  .boton {
    width: 90%;
    padding: 5px 14px;
    border-radius: 30px;
    background-color: var(--main-color);
    color: #5f2452;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    font-size: 12px; }
  /*pag envios*/
  .envios {
    display: flex;
    justify-content: center;
    align-items: center; }
  .main3 div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .main3 img {
    width: 60%;
    display: flex;
    height: 200px; }
  .main3 h1 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
    background-color: #d85883;
    color: #efefef; }
  .main3 h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    font-size: 18px; }
  .contenedor {
    display: flex;
    text-align: center;
    margin-top: 40px;
    font-size: 10px;
    font-weight: 300; }
  .cuadro {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px; }
  .cuadro2 {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px; }
  .cuadro3 {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px; }
  .cuadro4 {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px; }
  .contenedor2 {
    display: block;
    justify-content: space-around;
    margin-top: 40px;
    gap: 10px; }
  .card3 {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 164px;
    border-radius: 50px;
    background: #d85883;
    box-shadow: 20px 20px 60px #ac5076;
    line-height: 10px;
    font-size: 12px; }
  .p {
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    color: #e0e0e0;
    text-align: center; }
  .p2 {
    margin-left: 10px;
    color: #e0e0e0;
    text-align: center; }
  .contenedor3 {
    display: block;
    justify-content: space-around;
    margin-top: 40px;
    gap: 10px; }
  .contenido4 {
    width: 100%; }
  .card2 {
    height: 200px; }
  /*pie de pag*/
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*info peluches*/
body {
  display: block;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
  background: #dee1e3; }

h3, h3, h3 {
  font-weight: 600; }

.imagen {
  display: flex;
  justify-content: center;
  align-items: center; }
  .imagen img {
    display: flex;
    justify-content: center; }

.inforanas {
  display: block;
  text-align: center; }
  .inforanas h1 {
    font-weight: 600;
    background-color: #17461d;
    color: #fff; }
  .inforanas p {
    font-size: 20px;
    line-height: 16px; }

.infogato {
  display: block;
  text-align: center; }
  .infogato h1 {
    font-weight: 600;
    background-color: #e483ab;
    color: #fff; }

.infosnorlax {
  display: block;
  text-align: center; }
  .infosnorlax p {
    font-size: 20px;
    line-height: 16px; }
  .infosnorlax h1 {
    font-weight: 600;
    background-color: #4b5b86;
    color: #fff; }
  .infosnorlax p {
    font-size: 20px;
    line-height: 16px; }

a {
  color: #03658c;
  text-decoration: none; }

ul {
  list-style-type: none; }

/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
  margin: 60px auto 15px;
  width: 768px;
  margin-top: 400px; }

.comments-container h1 {
  font-size: 36px;
  color: #e2357d;
  font-weight: 400; }

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700; }

.comments-list {
  margin-top: 30px;
  position: relative; }

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
  content: '';
  width: 2px;
  height: 100%;
  background: #e7b9cc;
  position: absolute;
  left: 32px;
  top: 0; }

.comments-list:after {
  content: '';
  position: absolute;
  background: #e7b9cc;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.reply-list:before, .reply-list:after {
  display: none; }

.reply-list li:before {
  content: '';
  width: 60px;
  height: 2px;
  background: #e7b9cc;
  position: absolute;
  top: 25px;
  left: -55px; }

.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative; }

.comments-list li:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0; }

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px; }

/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden; }

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%; }

.reply-list .comment-avatar {
  width: 50px;
  height: 50px; }

.comment-main-level:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both; }

/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
  width: 680px;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

.comments-list .comment-box:before, .comments-list .comment-box:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #e7b9cc;
  top: 8px;
  left: -11px; }

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -12px; }

.reply-list .comment-box {
  width: 610px; }

.comment-box .comment-head {
  background: #e7b9cc;
  padding: 10px 12px;
  border-bottom: 1px solid #E5E5E5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #A6A6A6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }

.comment-box .comment-head i:hover {
  color: #03658c; }

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px; }

.comment-box .comment-name a {
  color: #283035; }

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px; }

.comment-box .comment-content {
  background: #FFF;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {
  color: #03658c; }

.comment-box .comment-name.by-author:after {
  content: 'autor';
  background: #03658c;
  color: #FFF;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

@media screen and (max-width: 480px) {
  body {
    max-width: 100%; }
  /*Cabecera*/
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 90px; }
  .logo {
    display: flex;
    height: 50px; }
  .main-menu {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 38px; }
  .menu-item {
    display: block;
    width: 40%;
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: #e7adc5;
    font-size: 11px; }
  .boton {
    width: 90%;
    padding: 5px 14px;
    border-radius: 30px;
    background-color: var(--main-color);
    color: #5f2452;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    font-size: 12px; }
  .imagen img {
    height: 200px; }
  .contenido4 {
    width: 100%; }
  .card2 {
    height: 200px; }
  .infogato {
    width: 100%; }
  .infogato h1 {
    margin-left: 0px;
    margin-right: 0px; }
  .comments-container {
    width: 380px; }
  .comments-list .comment-box {
    width: 290px; }
  .reply-list .comment-box {
    width: 220px; } }

h3 {
  font-weight: 600;
  background-color: #303244;
  color: #efefef; }

h2 {
  font-size: 22px; }

.info4 {
  width: 100%;
  margin-top: 90px;
  background-color: #7637aa;
  height: 250px; }

.info4 h1 {
  font-family: 'Anton', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  color: #eabdff; }

.info4 h2 {
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 10px;
  color: #fff; }

.info4 div {
  display: flex;
  justify-content: center;
  align-items: center; }

.info4 img {
  margin-top: 120px;
  margin-bottom: 50px;
  height: 200px; }

@media screen and (max-width: 480px) {
  /*info de pagina gorro*/
  .info4 {
    justify-content: center;
    width: 100%;
    margin-top: 90px;
    height: 230px; }
  .info4 h1 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-top: 30px;
    color: #d886d8; }
  .info4 h2 {
    max-width: 80%;
    display: flex;
    justify-content: right;
    margin-top: 10px;
    color: #ffdaff;
    font-size: 14px; }
  .info4 img {
    width: 100%;
    height: 180px; } }

.tutorial h1 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: white;
  border-image: initial;
  border: 2px solid #40115c;
  background-color: #9b3e8e;
  padding: 10px; }

.tutorial p {
  font-size: 26px;
  margin-top: 10px;
  text-align: center;
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana; }

.tutorial img {
  margin-bottom: 30px;
  margin-top: 30px;
  height: 512px;
  width: 500px;
  border-image: initial;
  border: 2px solid #40115c; }

.parrafo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: #7f4b96; }

.tutorial2 img {
  margin-top: 20px;
  height: 600px;
  align-items: center; }

/*desktop*/
@media screen and (max-width: 480px) {
  .tutorial h1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: white;
    border-image: initial;
    border: 2px solid #40115c;
    background-color: #9b3e8e;
    padding: 10px; }
  .tutorial p {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana; }
  .tutorial img {
    margin-bottom: 30px;
    margin-top: 30px;
    height: 312px;
    width: 300px;
    border-image: initial;
    border: 2px solid #40115c; }
  .parrafo {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #7f4b96; }
  .tutorial2 img {
    height: 400px;
    align-items: center; } }

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }
