/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

//import
@import "html/inicio";
@import "../scss/html/envios";
@import "../scss/html/estilos-de-info-peluches"