//import
@import "html/inicio";
@import "../scss/html/envios";
@import "../scss/html/estilos-de-info-peluches";
@import "../scss/utilidades/extend";
@import "../scss/utilidades/mixin";
@import "../scss/utilidades/variables";
@import "../scss/html/gorros";
@import "../scss/html/personalizados";

/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


