/* estilos de inicio*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header{
   display: block;
   background-color: #ca3a71;
   height: auto;
   width: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 5%;
   box-sizing: border-box;
   height: 70px;
   transition: 0.5s;
}

.logo{
   height: 110%;
}

.main-menu{
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
}

.menu-item{
   margin: 0 1rem;
   font-weight: 600;
   cursor: pointer;
   transition: 0.5s;
   color: rgb(231, 173, 197);
}

.boton{
   padding: 10px 24px;
   border-radius: 30px;
   background-color: var(--main-color);
   color: rgb(95, 36, 82);
   font-weight: 600;
   cursor: pointer;
   transition: 0.5s   
}

.menu-item:hover{
   color: var(--main-color);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.titulo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*Cards*/
.contenido, .contenido2, .contenido3{
    font-weight: 600;
    padding: 40px;
}

.card{
    width: 190px;
    height: 254px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-bottom: 10px;
   }

.card strike{
    color: red;
}

.card p{
    font-family: 'Anton', sans-serif;
    line-height: 2.9px;
}

/*carousel*/

.carousel{
    margin-left: 100px;
    margin-right: 100px;
}



/*info de pagina*/
.info{
    width: 100%;
    margin-top: 90px;
    background-image: url(/img/infodepag.png);
    height: 250px;
}

.info h1{
    font-family: 'Anton', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    color: rgb(58, 31, 71);
}

.info h2{
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
    color: white;
}

.info img{
    height: 260px;
    padding-bottom: 70px;
    display: flex;
    margin-left: 520px;
    margin-top: 110px;
}

.info2{
    text-align: center;
}

/*:::::Pie de Pagina*/
.pie-pagina{
   margin-top: 500px;
   width: 100%;
   background-color: #ca3a71;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1800px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #9b2c48;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

/*info peluches*/

.imagen img{
    display: flex;
    margin-left: 420px;
}

.inforanas{
    display: block;
    text-align: center;
}

.inforanas h1{
    font-weight: 600;
    background-color: #17461d;
    color: #efefef;
    margin-left: 150px;
    margin-right: 150px;
}

.inforanas h2{
    font-size: 22px;
    margin-left: 300px;
    margin-right: 300px;
}

.inforanas h3{
    font-weight: 600;
    background-color: #303244;
    color: #efefef;
    margin-left: 250px;
    margin-right: 250px;    
}

.inforanas p{
    font-size: 20px;
    line-height: 16px;
}

//info de siguiente pag

.infogato{
    display: block;
    text-align: center;
}

.infogato h1{
    font-weight: 600;
    background-color: #e483ab;
    color: #efefef;
    margin-left: 150px;
    margin-right: 150px;
}

.infogato h2{
    font-size: 22px;
    margin-left: 300px;
    margin-right: 300px;
}

.infogato h3{
    font-weight: 600;
    background-color: #303244;
    color: #efefef;
    margin-left: 250px;
    margin-right: 250px;    
}

//info de siguiente pag

.infosnorlax p{
    font-size: 20px;
    line-height: 16px;
}

.infosnorlax{
    display: block;
    text-align: center;
}

.infosnorlax h1{
    font-weight: 600;
    background-color: #4b5b86;
    color: #efefef;
    margin-left: 150px;
    margin-right: 150px;
}

.infosnorlax h2{
    font-size: 22px;
    margin-left: 300px;
    margin-right: 300px;
}

.infosnorlax h3{
    font-weight: 600;
    background-color: #303244;
    color: #efefef;
    margin-left: 250px;
    margin-right: 250px;    
}

.infosnorlax p{
    font-size: 20px;
    line-height: 16px;
}

/*Pagina de envios*/

.main3 img{
    display: flex;
    margin-left: 430px;
}

main h1{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
    background-color: #d85883;;
    margin-left: 250px;
    margin-right: 250px;
    color: #efefef;
}

.main3 h2{
    text-align: center;
    margin-left: 280px;
    margin-right: 280px;
    font-size: 30px;
}

.contenedor{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

.cuadro{
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}

.cuadro2{
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}

.cuadro3{
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}

.cuadro4{
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}

.contenedor2{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.card3 {
    width: 490px;
    height: 164px;
    border-radius: 50px;
    background: #d85883;
    box-shadow: 20px 20px 60px #ac5076,
    -20px -20px 60px #e4c6d4;
    line-height: 10px;
    font-size: 18px;
   }

.p{
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    color: #e0e0e0;
}


.p2{
    margin-left: 10px;
    color: #e0e0e0;
    line-height: 30px;

}

.contenedor3{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

/*boton compra*/
button {
    --color: #2f7c1f;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    margin-left: 200px;
   }
   
   button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #fff;
   }
   
   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }

   .contenido4{
    display: flex;
    gap: 30px;
   }
   
   .card2 {
    margin-top: 100px;
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    justify-content: space-around;
  }

  .card2 img{
    width: 100%;
  }

  .card2 strike{
    color: red;
  }





@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
